@model Reportably.Web.Models.ReportViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (TempData["Error"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        </div>
    </div>
}
<div class="shadow p-3 mb-5 bg-white rounded">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Summary)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PublicationDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DownloadCount)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DownloadCount)
            </dd>
        </dl>
    </div>
</div>

@if (this.User.IsInRole("Member") || this.User.IsInRole("Administrator"))
{
    <div class="jumbotron">
        <h1 class="display-4 text-center">@Html.ActionLink("Click here to download", "FileDownload", new { reportId = @Model.Id })</h1>
    </div>
}

<div>
    <a asp-controller="Report" asp-action="Index">Back to Reports</a>
</div>
